.App {
  text-align: center;
}

.main-footer {
  background-color: rgb(27, 28, 29);
  color: #ddd;
  padding-top: 7%;
  padding-bottom: 3%;
}

.about-color {
  background-color: rgb(27, 28, 29);
  color: #ddd;
  padding-top: 65px;
  padding-bottom: 65px;
}

.iss-color {
  background-color: rgb(27, 28, 29);
  color: #ddd;
  padding-top: 20px;
  padding-bottom: 35px;
}

.nav-color {
  background-color: rgb(27, 28, 29);
  padding-top: 20px;
  padding-bottom: 15px;
}

.astro-color {
  background-color: rgb(27, 28, 29);
  color: #ddd;
  padding-top: 70px;
  padding-bottom: 70px;
}

.gallery-color {
  background-color: rgb(27, 28, 29);
  color: #ddd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.space-giphy {

  background-image: url("https://media.giphy.com/media/3og0INtldac8gncQO4/giphy.gif");
    display:block;
    background-size: cover;
    height:100%;
    width:100%;
    color: #ddd;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Bellota', cursive;
    font-family: 'Cinzel', serif;
/* https://alphauniverseglobal.media.zestyio.com/Alpha-Universe-Rachel-Ross-Jones-lady-boot-arch2.jpg */
  
}